$icon-font-path: "node_modules/bootstrap-sass/assets/fonts/bootstrap/";

@import "/font-awesome/font-awesome.css";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./_variables.scss";

body {
  background: $body-background;
  font-family: $font-all; 
}

html, body {
  height: 100%;
  margin: 0;
}



a {
  transition: $transition;
  color: $a-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    color: $a-hover-color;
    text-decoration: none;
    border-color: $a-hover-color;
  }
}

img {
  margin: 0 auto !important;
  text-align: right;
}

.row {
  margin: 0;
}

.container {
  padding: 0;
}

#menu {
  background: $menu-background;
  margin: $menu-margin;
  padding: ($menu-a-padding + 8px) 0 ($menu-a-padding + 20px) 0;
  border-bottom: 1px solid $menu-border-color;
  line-height: 0;
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $menu-a-color;
    text-shadow: $menu-a-shadow;
    border: 0;
    padding: $menu-a-padding;
    transition: $transition;
    &:hover {
      text-decoration: none;
      color: $menu-a-hover-color;
    }
  }
  /** same values as when hovered */
  .active {
    text-decoration: none;
    color: $menu-a-hover-color;
  }
  li {
    display: inline;
    list-style: none;
    border: 0;
  }
}

#menuxs {
  background: $menu-background;
  transition: $transition ease;
  border-bottom: $content-border;
  font-weight: bold;
  overflow: hidden;
  .deploy {
    transition: $transition;
    user-select: none;
    padding: $menuxs-show-padding;
    .text {
      display: inline;
      position: relative;
      bottom: $menuxs-text-pos-bottom;
      font-size: $menuxs-show-font-size;
    }
    .button {
      display: inline;
      font-size: $menuxs-button-size;
      i {
        width: $menuxs-button-i-width;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
  .collapsed {
    height: 0;
    transition: height $transition ease-out;
    transform-origin: top;
  }
  li {
    transition: $transition;
    padding: 10px 5px;
    list-style: none;
    color: $menu-a-color;
    border-top: $menuxs-list-border;
    background: $menuxs-list-background;
    &:hover {
      color: white !important;
      background: $menuxs-list-hover-background;
    }
  }
}

#article {
  h1 {
    font-family: $font-title;
    font-size: $article-read-h1-font-size;
    margin: 0;
  }
  h2 {
    font-family: $font-title;
    font-size: $article-read-h2-font-size;
    margin: 0;
  }
  h3 {
    font-family: $font-title;
    font-size: $article-read-h3-font-size;
    margin: 0;
  }
  p {
    margin: 0;
  }
  margin: $article-margin;
  width: 100%;
  .header {
    transition: $transition;
    word-break: break-all;
    font-family: $font-title;
    font-size: $article-header-font-size;
    border: 0;
    color: $article-header-a-color;
    &:hover {
      color: $article-header-a-hover-color;
    }
  }
  .header-read {
    word-break: break-all;
    font-family: $font-title;
    font-size: $article-header-font-size;
    border: 0;
    color: $article-header-a-color;
  }
  .info {
    text-transform: uppercase;
    font-size: $article-info-font-size;
    color: $color7;
  }
  .read {
    color: $article-read-color;
    margin-top: $article-read-margin;
    padding-bottom: $article-read-padding;
    font-size: $article-read-font-size;
    font-family: $font-read;
    border-bottom: $content-border;
  }
  .preview {
    color: $article-read-color;
    margin-top: $article-preview-margin;
    font-size: $article-read-font-size;
    font-family: $font-read;
  }
  .more {
    font-weight: bold;
    font-size: $article-readmore-font-size;
    text-align: right;
  }
  .comments {
    font-style: italic;
    padding: $article-comments-padding;
    font-size: $article-comments-font-size;
    text-align: right;
  }
}

#article-old {
  .header {
    text-transform: uppercase;
    text-align: right;
    font-size: $article-old-header-font-size;
    font-weight: bold;
    margin: $article-old-header-margin;
  }
  .list {
    li {
      transition: $transition;
      list-style: none;
      border-bottom: 1px solid $color4;
      padding: $article-old-list-padding;
      margin-bottom: $article-old-list-margin;
      font-size: $article-old-list-font-size;
      font-weight: bold;
      color: $article-header-a-color;
      &:hover {
        color: $article-header-a-hover-color;
        border-color: $article-header-a-hover-color;
      }
    }
  }
  .archive {
    font-size: $article-old-archive-font-size;
    margin-top: $article-old-archive-margin;
    text-align: center;
    a {
      font-weight: bold;
    }
  }
}

#archive {
  .header {
    border-bottom: $content-border;
    padding: $archive-header-padding;
    overflow: auto;
    .amount {
      font-size: $archive-header-font-size;
      font-weight: bold;
      text-transform: uppercase;
    }
    .pagination {
      padding: 0;
      margin: 0;
      user-select: none;
      font-size: $archive-pagination-font-size;
      li.page {
        a {
          font-weight: bold;
          color: $article-read-color;
          border: $content-border;
          padding: $archive-pagination-padding;
          &:hover {
            border-color: $a-hover-color;
            color: white;
            background: $a-hover-color;
          }
        }
      }
      li.page.active {
        a {
          border-color: $a-hover-color;
          color: white;
          background: $a-hover-color;
          &:hover {
            cursor: not-allowed;
          }
        }
      }
      li.page.disabled {
        a {
          &:hover {
            color: inherit;
            background: none;
            border: $content-border;
          }
        }
      }
    }
  }
  .list {
    margin: $archive-list-margin;
    font-size: $archive-list-font-size;
    li {
      list-style: none;
      padding: 0;

    }
    a {
      word-break: break-all;
      font-weight: bold;
      margin: $archive-list-item-margin;
      padding: $archive-list-item-padding;
      background: $archive-list-item-background;
      color: $article-read-color;
      border-bottom: $content-border;
      border-left: $content-border;
      border-right: $content-border;
      &:first-child {
        border-top: $content-border;
        border-top-right-radius: $archive-list-item-border-radius;
        border-top-left-radius: $archive-list-item-border-radius;
      }
      &:last-child {
        border-bottom-right-radius: $archive-list-item-border-radius;
        border-bottom-left-radius: $archive-list-item-border-radius;
      }
      &:hover {
        // We transition the color of the link and the associated classes to white
        .category {
          color: white;
        }
        .date {
          color: white;
        }
        background: $a-hover-color;
        color: white;
      }
    }
    .category {
      transition: $transition;
      display: inline;
      color: $color8; 
    }
    .date {
      transition: $transition;
      display: inline;
      color: $color8;
    }
  }
}

#admin {
  .category {
    border: 0;
    &:hover {
      .wrapper {
        border-color: $color3;
        box-shadow: $admin-index-list-hover-shadow;
      }
      border: 0;
    }
    &:focus {
      text-decoration: none;
    }
    .wrapper {
      background: $admin-index-list-background;
      border: $admin-index-list-border;
      border-radius: 10px;
      transition: $transition;
      text-align: center;
      color: $admin-index-list-color;
      margin: $admin-index-list-margin;
      text-shadow: $admin-index-list-shadow;
      .icon {
        font-size: $admin-index-list-icon-font-size;
      }
      .name {
        position: relative;
        bottom: $admin-index-list-name-pos;
        word-break: break-all;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $admin-index-list-name-font-size;
      }
    }
  }
}

#footer {
  background: $menu-background;
  position: relative;
  bottom: $footer-bottom-pos;
  overflow: auto;
  text-align: $footer-align;
  padding: $footer-padding;
  border-top: $content-border;
  font-size: $footer-font-size;
  font-weight: bold;
  a {
    color: inherit;
    &:hover {
      color: $a-hover-color;
    }
  }
  p {
    margin: $footer-p-margin;
  }
}

.wrap {
  height: 100%;
}

.content {
  background: $content-background;
  box-shadow: $content-shadow;
  margin: 0;
  padding-bottom: $footer-bottom-pos - 1px;
  border-top: none;
  border-bottom: $content-border;
  min-height: 100%;
  .content-wrap {
    overflow: auto;
    padding: $content-wrap-padding;
  }
}
