extends ../layout.pug

block content
  #authentication.col-lg-12.col-md-12.col-sm-12.col-xs-12
    .wrapper
      .block.col-lg-6.col-md-6.col-sm-8.col-xs-12
        form(method='POST')
          .top 
            .title authentication
          .middle
            table
              tbody
                tr
                  // Username input
                  td.icon.username
                    i.fa.fa-user
                  td.input 
                    input.form-control(type='text' name='username' placeholder='Username' autofocus)
            table
              tbody
                tr
                  // Password input
                  td.icon.password 
                    i.fa.fa-lock
                  td.input 
                    input.form-control(type='password' name='password' placeholder='Password')
          .bottom
            .submit
              input.btn.btn-sm.btn-danger(type='submit' value='login')
