extends ../layout.pug

block content
  #block.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
    .block-content
      #authentication
        form(method='POST')
          .middle
              table
                tbody
                  tr
                    // Username input
                    td.icon.username
                      i.fa.fa-user
                    td.input 
                      label(for='username') Username
                      input.form-control(type='text' name='username' autofocus)
                  tr
                    // Password input
                    td.icon.password 
                      i.fa.fa-lock
                    td.input 
                      label(for='password') Password
                      input.form-control(type='password' name='password')
          .submit
            input.btn.btn-sm.btn-danger(type='submit' value='login')
