extends ../layout.pug

block content
  div#admin.col-xs-12
    a.category.col-lg-2.col-md-2.col-sm-3.col-xs-12(href='admin/blog')
      div.wrapper
        div.icon #[i.fa.fa-newspaper-o]
        div.name Blog
    a.category.col-lg-2.col-md-2.col-sm-3.col-xs-12(href='admin/portfolio')
      div.wrapper
        div.icon #[i.fa.fa-picture-o]
        div.name Portfolio
    a.category.col-lg-2.col-md-2.col-sm-3.col-xs-12(href='admin/statistics')
      div.wrapper
        div.icon #[i.fa.fa-bar-chart]
        div.name Statistics
