extends ../layout.pug

block content
  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/account').col-md-12.col-xs-12
      table.account
        tr
          td.icon #[i.fa.fa-user-o]
          td.description
            .title #[i.fa.fa-chevron-circle-right] Accounts
            .text
              | Manage administrator accounts; create and delete them.

  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/blog').col-md-12.col-xs-12
      table.blog
        tr
          td.icon #[i.fa.fa-newspaper-o]
          td.description
            .title #[i.fa.fa-chevron-circle-right] Blog
            .text
              | Create, edit and delete articles from the blog; you can also configure it.

  .clearfix

  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/portfolio').col-md-12.col-xs-12
      table.portfolio
        tr
          td.icon #[i.fa.fa-picture-o]
          td.description
            .title #[i.fa.fa-chevron-circle-right] Portfolio
            .text
              | Create, edit and delete projects to be shown on your portfolio.

  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/about-me').col-md-12.col-xs-12
      table.about-me
        tr
          td.icon #[i.fa.fa-id-card-o]
          td.description
            .title #[i.fa.fa-chevron-circle-right] About me
            .text
              | Edit your public information, aimed at employers.

  .clearfix

  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/statistics').col-md-12.col-xs-12
      table.statistics
        tr
          td.icon #[i.fa.fa-pie-chart]
          td.description
            .title #[i.fa.fa-chevron-circle-right] Statistics
            .text
              | Overview of most viewed articles, and analyzes of their behaviours.

  #admin.col-lg-6.col-md-6.col-sm-6.col-xs-12
    a(href='/admin/settings').col-md-12.col-xs-12
      table.settings
        tr
          td.icon #[i.fa.fa-cog]
          td.description
            .title #[i.fa.fa-chevron-circle-right] Settings
            .text
              | Setup the whole configuration of the website.
