extends ../../layout.pug

block content
  #block.col-lg-8.col-md-8.col-xs-12
    .block-content
      .middle
        each language in languages
          li
            | #[a.btn.btn-xs.btn-danger(href='/admin/portfolio/language/delete/' + language.id) #[i.fa.fa-times]] #{language.name} [#{language.color}]

  #block.col-lg-4.col-md-4.col-xs-12
    .block-content
      .top
        .title= 'Creation'
        form(method='POST', action='./language/create')
          .middle
            .form-group
              label(for='name') Name of the new language
              input.form-control(type='text', name='name')
            .form-group
              label(for='color') Choose a color
              select.form-control(name='color')
                each color, index in colors
                  option(value=color)= color
          .bottom
            input.btn.btn-xs.btn-primary.col-md-12(type='submit', value='Add')
