// Color scheme {{{
$color1: #FFFFFF;
$color2: #EE2600;
$color3: #DF0303;
$color4: rgba(80, 80, 80, 0.1);
$color5: rgba(200, 200, 200, 0.4);
$color6: #FAFAFA;
$color7: rgba(140, 140, 140, 0.8);
$color8: #5A5A5A;
$color9: rgba(10, 30, 60, 0.75);
$background: rgba(239, 242, 247, 1.0);
$border: #D0D7E6;
$text-black: #333333;
$popup-background: rgba(10, 10, 10, 0.6);
$popup-border: rgba(10, 10, 10, 0.8);
// }}}
// Fonts {{{
$font-all: 'Arial';
$font-title: 'Aclonica', sans-serif;
$font-read: 'Ubuntu Mono', monospace;
$font-tiny: 14px;
$font-small: 16px;
$font-medium: 18px;
$font-big: 24px;
// }}}
// Global variables {{{
$transition: 0.2s;
$a-color: #004999;
$a-hover-color: $color2;
// }}}
// Container {{{
$container-max-width: 1142px;
// }}}
// Html & body {{{
$body-background: url('/assets/images/background.jpg');
// }}}
// Button {{{
$btn-border-radius: 1px;
$btn-shadow: 1px 1px 2px $color9;
$btn-padding: 3px 8px;
$btn-sm-font-size: 16px;
$btn-xs-font-size: 14px;
// }}}
// Forms {{{
// }}}
// Menu {{{
$menu-margin: 0;
$menu-border-color: $color4;
$menu-background: white;
$menu-a-padding: 10px;
$menu-a-color: black;
$menu-a-shadow: 1px 1px 1px $color5;
$menu-a-hover-color: $color2;
$menuxs-list-border: 1px solid $color4;
$menuxs-list-background: $color6;
$menuxs-list-hover-background: $a-hover-color;
$menuxs-show-padding: 0 5px;
$menuxs-button-size: 28px;
$menuxs-button-i-width: 26px;
$menuxs-show-font-size: 16px;
$menuxs-text-pos-bottom: 3px;
// }}}
// Block {{{
$block-background: $color1;
$block-padding: 2px 2px 10px 2px;
$block-border: 1px solid $border;
$block-border-radius: 3px;
$block-middle-padding: 5px 10px;
$block-top-background-dark: $color9;
$block-top-background-dark-font-color: #FFFFFF;
$block-top-margin: 15px;
$block-top-button-margin: 2px;
$block-top-border: 1px solid $border;
$block-top-title-font-family: $font-all;
$block-top-title-font-size: 16px;
$block-top-title-padding: 10px 15px;
$block-top-padding: 5px;
$block-p-padding: 5px 10px;
$block-list-padding: 3px 10px;
$block-list-margin: 5px;
$block-list-font-size: 14px;
$block-font-color: white;
// }}}
// Content {{{
$content-wrap-padding: 0 5px 10px 5px;
$content-background: $background;
$content-shadow: 0 0 5px grey;
$content-border: 1px solid $color4;
// }}}
// Http {{{
$http-error-font-size: 32px;
// }}}
// Pagination {{{
$pagination-font-size: 14px;
$pagination-padding: 4px 8px;
// }}}
// Articles {{{
$article-padding: 0;
$article-margin: 0 0 10px 0;
$article-header-a-color: $text-black;
$article-header-a-hover-color: $color2;
$article-header-font-size: 26px;
$article-header-padding: 10px;
$article-info-font-size: 11px;
$article-info-padding: 5px 10px;
$article-info-margin: 7px;
$article-preview-margin: 20px;
$article-read-margin: $article-preview-margin;
$article-read-padding: 0 10px;
$article-read-font-size: 20px;
$article-read-h1-font-size: $article-read-font-size + 2;
$article-read-h2-font-size: $article-read-font-size + 1;
$article-read-h3-font-size: $article-read-font-size;
$article-read-color: $text-black;
$article-readmore-font-size: 15px;
$article-readmore-margin: 10px;
$article-readmore-padding: 0 10px;
$article-comments-padding: 15px 0;
$article-comments-font-size: 12px;
// }}}
// Articles old {{{
$article-old-header-font-size: 16px;
$article-old-header-margin: 0 0 15px 0;
$article-old-list-font-size: 16px;
// }}}
// Articles list {{{
$article-list-border: 1px solid $border;
$article-list-margin: 0;
$article-list-td-padding: 5px;
$article-list-th-padding: 5px;
$article-list-width: 100%;
$article-list-item-font-size: 16px;
$article-list-icon-size: 18px;
$article-list-icon-width: 30px;
$article-list-date-width: auto;
$article-list-date-icon-background: #7CC400;
$article-list-date-background: #A6FC0F;
$article-list-category-width: auto;
$article-list-category-icon-background: #F6EA78;
$article-list-category-background: #FFF7A8;
$article-list-id-width: auto;
$article-list-id-icon-background: #F2F2F2;
$article-list-id-background: #FAFAFA;
$article-list-color-dark: black;
$article-list-color-light: white;
$article-list-action-width: auto;
$article-list-view-background: #00DFFF;
$article-list-edit-background: #5AFF00;
$article-list-delete-background: #FF473F;
$article-list-view-background-hover: #00FFFC;
$article-list-edit-background-hover: #5AFF00;
$article-list-delete-background-hover: #D30B00;

// }}}
// Archive {{{
$archive-header-font-size: 18px;
$archive-header-padding: 5px 0;
$archive-list-font-size: 16px;
$archive-list-margin: 5px 0;
$archive-list-item-margin: 0;
$archive-list-item-padding: 3px 5px;
$archive-list-item-background: $color6;
$archive-list-item-border-radius: 3px;
// }}}
// Admin {{{
$admin-table-padding: 0;
$admin-icon-width: 80px;
$admin-icon-size: 58px;
$admin-description-title-font-size: 16px;
$admin-description-title-padding: 5px;
$admin-description-text-padding: 5px;
$admin-description-text-height: 65px;
$admin-link-hover-border: 1px solid $color3;
$admin-link-hover-shadow: 0 0 3px $color3;
$admin-link-padding: 5px;
$admin-link-account-background: #007EA0;
$admin-link-blog-background: #C73600;
$admin-link-portfolio-background: #00813D;
$admin-link-about-me-background: #004AB2;
$admin-link-statistics-background: #855E00;
$admin-link-settings-background: #7A7A7A;
$admin-portfolio-project-image-width: 142px;
$admin-portfolio-project-image-height: 142px;
// }}}
// Authentication {{{
$authentication-padding: 5px;
$authentication-margin: 7px 0;
$authentication-input-padding: 0;
$authentication-input-width: 100%;
$authentication-input-font-size: 14px;
$authentication-input-label-padding: 5px;
$authentication-input-label-font-size: 12px;
$authentication-input-label-color: grey;
$authentication-icon-width: 60px;
$authentication-icon-size: 26px;
$authentication-input-submit-padding: 5px 0;
// }}}
// Portfolio {{{
$portfolio-margin: 5px;
$portfolio-project-name-margin: 5px;
$portfolio-project-padding-hover: 5px 3px;
$portfolio-project-padding: 10px 3px;
$portfolio-project-shadow: 1px 1px 2px $color9;
$portfolio-project-screenshot-img-width: 100%;
$portfolio-project-screenshot-img-height: 200px;
$portfolio-project-description-padding: 3px;
$portfolio-project-popup-border: 16px solid $popup-border;
$portfolio-project-popup-background: white;
$portfolio-project-popup-padding: 5px;
$portfolio-project-popup-height: 95%;
$portfolio-project-popup-buttons-padding: 5px;
$portfolio-project-popup-buttons-size: 24px;
$portfolio-project-detail-image-min-height: 468px;
$portfolio-project-detail-image-max-height: 648px;
$portfolio-project-information-margin: 80px;
$portfolio-project-information-category-tags-margin: 2px;
$portfolio-project-information-tags-margin: 2px 3px;
$portfolio-project-information-tags-border: 1px solid orange;
$portfolio-project-information-tags-background-green: #45BF00;
$portfolio-project-information-tags-background-red: #FF1F08;
$portfolio-project-information-tags-background-orange: #FF5322;
$portfolio-project-information-tags-background-black: #1A1A1A;
$portfolio-project-information-tags-background-grey: #999999;
$portfolio-project-information-tags-background-pink: #E60061;
$portfolio-project-information-tags-border-green: 1px solid #41B300;
$portfolio-project-information-tags-border-red: 1px solid #CC1906;
$portfolio-project-information-tags-border-orange: 1px solid #CC301B;
$portfolio-project-information-tags-border-black: 1px solid #030303;
$portfolio-project-information-tags-border-grey: 1px solid #808080;
$portfolio-project-information-tags-border-pink: 1px solid #B3004B;
$portfolio-project-information-category-margin: 30px;
$portfolio-project-information-category-title-border: 2px solid $color9;
$portfolio-project-information-category-title-font-size: $font-medium;
// }}}
// Popup {{{
$popup-shadow: 0 0 20px $popup-background;
$popup-chevron-size: 42px;
$popup-chevron-width: 60px;
$popup-chevron-background: $popup-background;
$popup-chevron-color: $color6;
// }}}
// Footer {{{
$footer-bottom-pos: 63px;
$footer-padding: 5px;
$footer-font-size: 13px;
$footer-align: center;
$footer-p-margin: 5px 0; 
// }}}
