$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "/font-awesome/font-awesome.css";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "./_variables.scss";

// @media {{{
@media (min-width: 1200px) {
  .container {
    width: auto;
    max-width: $container-max-width;
  }
}

// }}}
// html & body {{{
body {
  background: $body-background;
  font-family: $font-all;
}

html, body {
  height: 100%;
  margin: 0;
}

// }}}
// buttons {{{
.btn {
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  border-radius: $btn-border-radius;
  box-shadow: $btn-shadow;
  transition: $transition;
  padding: $btn-padding;
}

.btn-sm {
  font-size: $btn-sm-font-size;
}

.btn-xs {
  font-size: $btn-xs-font-size;
}

.btn-danger {
  background: $color2;

  &:hover {
    background: $color3;
  }
}

// }}}
// container {{{
.container {
  padding: 0;

  .content {
    background: $content-background;
    box-shadow: $content-shadow;
    margin: 0 auto;
    padding-bottom: $footer-bottom-pos - 1px;
    border-top: none;
    border-bottom: $content-border;
    min-height: 100%;

    .content-wrap {
      margin: 0 auto;
      overflow: auto;
      padding: $content-wrap-padding;
    }
  }
}

// }}}
// forms {{{
.form-control {
  border-radius: 0;
  border: 1px solid $border;
  border-left: 0;
  border-right: 0;
  box-shadow: none;

  &:focus {
    box-shadow: none;
    border-color: $border;
  }
}

.form-group {
  margin: 0;
}

// }}}
// http {{{
.http-error {
  font-size: $http-error-font-size;
  font-weight: bold;
  text-align: center;
}

// }}}
// block {{{
#block {
  padding: $block-padding;

  .block-content {
    background: $block-background;
    border-radius: $block-border-radius;
    overflow: hidden;

    // this helps to force border-radius on all childs
    border: $block-border;

    // for darker top part
    .dark {
      background: $block-top-background-dark;
      color: $block-top-background-dark-font-color;
    }

    .top {
      border-bottom: $block-top-border;

      .title {
        padding: $block-top-title-padding;
        font-weight: bold;
        font-family: $block-top-title-font-family;
        font-size: $block-top-title-font-size;
      }

      .btn {
        box-shadow: none;
        border-radius: 0;
        margin-right: $block-top-button-margin;
      }
    }

    .middle {
      p {
        padding: $block-p-padding;
        margin: 0;
      }

      // For lists
      a {
        li {
          &:hover {
            color: $a-hover-color;
            border-color: $a-hover-color;
          }
        }
      }

      li {
        word-break: break-all;
        transition: $transition;
        list-style: none;
        border-bottom: 1px solid $border;
        padding: $block-list-padding;
        margin-bottom: $block-list-margin;
        font-size: $block-list-font-size;
        font-weight: bold;
        color: $text-black;
      }

      &:last-child {
        li {
          border: 0;
        }
      }
    }

    .bottom {
      .btn {
        box-shadow: none;
        border-radius: 0;
      }
    }
  }
}

// }}}
// menu {{{
#menu {
  background: $menu-background;
  margin: $menu-margin;
  padding: ($menu-a-padding + 8px) 0 ($menu-a-padding + 20px) 0;
  border-bottom: 1px solid $menu-border-color;
  line-height: 0;

  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $menu-a-color;
    text-shadow: $menu-a-shadow;
    border: 0;
    padding: $menu-a-padding;
    transition: $transition;

    &:hover {
      text-decoration: none;
      color: $menu-a-hover-color;
    }
  }

  /** same values as when hovered */
  .active {
    text-decoration: none;
    color: $menu-a-hover-color;
  }

  li {
    display: inline;
    list-style: none;
    border: 0;
  }
}

// }}}
// menuxs {{{
#menuxs {
  background: $menu-background;
  transition: $transition ease;
  border-bottom: $content-border;
  font-weight: bold;
  overflow: hidden;

  .deploy {
    transition: $transition;
    user-select: none;
    padding: $menuxs-show-padding;

    .text {
      display: inline;
      position: relative;
      bottom: $menuxs-text-pos-bottom;
      font-size: $menuxs-show-font-size;
    }

    .button {
      display: inline;
      font-size: $menuxs-button-size;

      i {
        width: $menuxs-button-i-width;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .collapsed {
    height: 0;
    transition: height $transition ease-out;
    transform-origin: top;
  }

  li {
    transition: $transition;
    padding: 10px 5px;
    list-style: none;
    color: $menu-a-color;
    border-top: $menuxs-list-border;
    background: $menuxs-list-background;

    &:hover {
      color: white !important;
      background: $menuxs-list-hover-background;
    }
  }
}

// }}}
// pagination {{{
.pagination {
  padding: 0;
  margin: 0;
  user-select: none;
  font-size: $pagination-font-size;

  li.page {
    a {
      font-weight: bold;
      color: $article-read-color;
      border: 0;
      border-left: 1px solid $border;
      border-radius: 0;
      padding: $pagination-padding;

      &:hover {
        border-color: $a-hover-color;
        color: white;
        background: $a-hover-color;
      }
    }
  }

  li.page.active {
    a {
      border-color: $a-hover-color;
      color: white;
      background: $a-hover-color;

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  li.page.disabled {
    a {
      &:hover {
        z-index: inherit;
        color: inherit;
        background: none;
        border-color: $border;
      }
    }
  }
}

// }}}
// contact {{{
#contact {
  .form-control {
    border: 0;
    border-bottom: 1px solid $border;
  }
}
// }}}
// article {{{
#article {
  h1 {
    font-family: $font-title;
    font-size: $article-read-h1-font-size;
    margin: 0;
  }

  h2 {
    font-family: $font-title;
    font-size: $article-read-h2-font-size;
    margin: 0;
  }

  h3 {
    font-family: $font-title;
    font-size: $article-read-h3-font-size;
    margin: 0;
  }

  p {
    margin: 0;
  }

  padding: 0;
  margin: $article-margin;
  width: 100%;

  .header {
    padding: $article-header-padding;
    transition: $transition;
    word-break: break-all;
    font-family: $font-title;
    font-size: $article-header-font-size;
    border: 0;
    color: $article-header-a-color;

    &:hover {
      color: $article-header-a-hover-color;
    }
  }

  .header-read {
    padding: $article-header-padding;
    word-break: break-all;
    font-family: $font-title;
    font-size: $article-header-font-size;
    border: 0;
    color: $article-header-a-color;
  }

  .info {
    background: $color9;
    padding: $article-info-padding;
    margin-bottom: $article-info-margin;
    text-transform: uppercase;
    font-size: $article-info-font-size;
    font-weight: bold;
    color: white;
  }

  .read {
    color: $article-read-color;
    margin-top: $article-read-margin;
    padding: $article-read-padding;
    font-size: $article-read-font-size;
    font-family: $font-read;
  }

  .preview {
    padding: $article-read-padding;
    color: $article-read-color;
    margin-top: $article-preview-margin;
    font-size: $article-read-font-size;
    font-family: $font-read;
  }

  .more {
    margin-top: $article-readmore-margin;
    padding: $article-readmore-padding;
    font-weight: bold;
    font-size: $article-readmore-font-size;
    text-align: right;
  }

  .comments {
    font-style: italic;
    margin: $article-comments-padding;
    font-size: $article-comments-font-size;
    text-align: center;
  }
}

// }}}
// article-old {{{
#article-old {
  width: 100%;

  .header {
    text-transform: uppercase;
    text-align: right;
    font-size: $article-old-header-font-size;
    font-weight: bold;
    margin: $article-old-header-margin;
  }
}

// }}}
// article-list {{{
#article-list {
  table {
    margin: $article-list-margin;
    width: $article-list-width;

    thead {
      tr {
        th {
          text-transform: uppercase;
          padding: $article-list-th-padding;
          vertical-align: middle;
          border-bottom: $article-list-border;
        }
      }
    }

    tbody {
      tr {
        td {
          border-bottom: $article-list-border;
          font-size: $article-list-item-font-size;
          vertical-align: middle;
          padding: $article-list-td-padding;
        }

        td.date {
          word-break: break-all;
          width: $article-list-date-width;
        }

        td.category {
          word-break: break-all;
          width: $article-list-category-width;
        }

        td.id {
          word-break: break-all;
          width: $article-list-id-width;
        }

        td.action {
          width: $article-list-action-width;
          transition: $transition;

          &:hover {
            cursor: pointer;
          }
        }

        &:last-child {
          td {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

// }}}
// archive {{{
#archive {
  .header {
    border-bottom: $content-border;
    padding: $archive-header-padding;
    overflow: auto;

    .amount {
      font-size: $archive-header-font-size;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

// }}}
// admin {{{
#admin {
  padding: $admin-link-padding;

  a {
    color: inherit;
    border: 1px solid $border;
    border-radius: $block-border-radius;
    padding: 0;
    overflow: hidden;

    &:hover {
      color: inherit;
      border: $admin-link-hover-border;
      box-shadow: $admin-link-hover-shadow;
    }

    &:focus {
      text-decoration: none;
    }

    // Colors for each admin links {{{
    .account {
      td.icon {
        background: $admin-link-account-background;
      }

      td.description {
        .title {
          background: $admin-link-account-background;
        }
      }
    }

    .blog {
      td.icon {
        background: $admin-link-blog-background;
      }

      td.description {
        .title {
          background: $admin-link-blog-background;
        }
      }
    }

    .portfolio {
      td.icon {
        background: $admin-link-portfolio-background;
      }

      td.description {
        .title {
          background: $admin-link-portfolio-background;
        }
      }
    }

    .about-me {
      td.icon {
        background: $admin-link-about-me-background;
      }

      td.description {
        .title {
          background: $admin-link-about-me-background;
        }
      }
    }

    .statistics {
      td.icon {
        background: $admin-link-statistics-background;
      }

      td.description {
        .title {
          background: $admin-link-statistics-background;
        }
      }
    }

    .settings {
      td.icon {
        background: $admin-link-settings-background;
      }

      td.description {
        .title {
          background: $admin-link-settings-background;
        }
      }
    }

    // }}}

    table {
      width: 100%;
      padding: $admin-table-padding;
      overflow: hidden;

      tr {
        border: 0;

        td.icon {
          color: white;
          width: $admin-icon-width;
          font-size: $admin-icon-size;
          vertical-align: middle;
          text-align: center;
        }

        td.description {
          .title {
            color: white;
            text-transform: uppercase;
            font-size: $admin-description-title-font-size;
            font-weight: bold;
            padding: $admin-description-title-padding;
            margin: 0;
          }

          .text {
            overflow: hidden;
            height: $admin-description-text-height;
            border-top: 1px solid $border;
            border-left: 1px solid $border;
            background: white;
            padding: $admin-description-text-padding;
            margin: 0;
          }
        }
      }
    }
  }
}

// }}}
// admin-blog {{{
#admin-blog {
  .header {
    border-bottom: $content-border;
    padding: $archive-header-padding;
    overflow: auto;

    .create {}
  }
}

// }}}
// portfolio {{{
#portfolio {
  padding: 0;
  margin-top: $portfolio-margin;

  .project {
    &:hover {
      padding: $portfolio-project-padding-hover;
      cursor: pointer;
    }
    padding: $portfolio-project-padding;
    transition: $transition;

    .wrapper {
      box-shadow: $portfolio-project-shadow;
      padding: 0;
      border: $block-border;
      border-radius: $block-border-radius;
      overflow: hidden;

      .screenshot {
        text-align: center;
        padding: 0;

        img {
          width: $portfolio-project-screenshot-img-width;
          height: $portfolio-project-screenshot-img-height;
        }
      }

      .title {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background: $color9;
        padding: $portfolio-project-description-padding;
      }
    }
  }
}

// }}}
// authentication {{{
#authentication {
  .middle {
    // padding: $authentication-padding;
 
  }

  table {
    // margin: $authentication-margin;
    tr {
      &:first-child {
        td {
          border-bottom: 1px solid $border;
        }
      }
    }

    td {
      text-align: center;
      vertical-align: middle;
      background: none;
    }

    td.icon {
      min-width: $authentication-icon-width;
      border-top-left-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
      vertical-align: middle;
      text-align: center;
      font-size: $authentication-icon-size;
    }

    td.input {
      width: $authentication-input-width;

      label {
        float: left;
        position: relative;
        top: 5px;
        font-size: $authentication-input-label-font-size;
        color: $authentication-input-label-color;
        margin: 0;
        line-height: 1;
      }

      .form-control {
        padding: $authentication-input-padding;
        border-radius: 0;
        border-top-right-radius: $btn-border-radius;
        border-bottom-right-radius: $btn-border-radius;
        border: 0;
        box-shadow: none;
        font-size: $authentication-input-font-size;
        font-weight: bold;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .submit {
    .btn {
      width: 100%;
      border-radius: 0;
      padding: $authentication-input-submit-padding;
    }
  }
}

// }}}
// footer {{{
#footer {
  background: $menu-background;
  position: relative;
  bottom: $footer-bottom-pos;
  overflow: auto;
  text-align: $footer-align;
  padding: $footer-padding;
  margin-bottom: -$footer-bottom-pos;
  border-top: $content-border;
  font-size: $footer-font-size;
  font-weight: bold;

  a {
    color: inherit;

    &:hover {
      color: $a-hover-color;
    }
  }

  p {
    margin: $footer-p-margin;
  }
}

// }}}
// wrap {{{
.wrap {
  height: 100%;
}

// }}}
// misc {{{
a {
  transition: $transition;
  color: $a-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    color: $a-hover-color;
    text-decoration: none;
    border-color: $a-hover-color;
  }
}

img {
  margin: 0 auto !important;
  text-align: right;
}

.row {
  margin: 0;
}

.no-padding {
  padding: 0;
}

// }}}
