extends ../../layout.pug

block content
  #block.col-md-5.col-xs-12
    .block-content
      .top 
        .title Administrators
      .middle 
        .list
          each admin in admins
            li #[a.btn.btn-xs.btn-danger(href='./account/delete/' + admin.id) #[i.fa.fa-times]] #{admin.username}
  #block.col-md-7.col-xs-12
    .block-content
      .top 
        .title Create an admin account
      form(method='POST')
        .middle 
          .form-group
            label(for='username') Username
            input.form-control(type='text' name='username')
          .form-group
            label(for='password') Password
            input.form-control(type='password' name='password')
        .bottom
          input.btn.btn-xs.btn-success.col-md-12.col-xs-12(type='submit' value='Create')
