extends ../layout.pug

block content
  div#archive
    div.header
      div.amount.pull-left
        | 248 total articles
      div.pagination.pull-right
        li.page.active #[a 1]
        li.page #[a(href='#') 2]
        li.page.disabled #[a ...]
        li.page #[a(href='#') 5]

    div.list
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
      a.col-lg-12.col-md-12.col-sm-12.col-xs-12(href='#') #[li.article] 04/29/2017 - Article's title - quite long huh ? Not enough. Better now. Even better.
