extends ../layout.pug

block content
  div#article-old.col-lg-4.col-md-4.col-sm-4.col-xs-12
    div.header Other articles
    div.list
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.article Some older article title]
      a(href='#') #[li.last.article Some older article title]
    div.archive
      a(href='archive') Archive

  each item in article
    div#article.col-lg-8.col-md-8.col-sm-8.col-xs-12
      a(href='article/' + item.url) #[div.header= item.title]
      div.info
        div.pull-left January 27, 2017
        div.pull-right 48 views
      div.preview
        p!= nl2br(marked(escapeHtml(preview(item.content))))

      if item.content.length >= previewStringLength
        div.more
          a(href='article/' + item.url) Read more 
